Repository Tahifun/BOOsT-ONE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove invalid vercel.json; use project settings
  vercel.json
Due: prettier --write

fix(vercel): remove _mode_note and add SPA rewrite
  vercel.json
Due: prettier --write

fix(vercel): SPA rewrite
  vercel.json
Due: prettier --write

chore(vercel): fix vercel.json + SPA rewrite
  vercel.json
Due: prettier --write

Update vercel.json
  vercel.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update index.ts
  backend/index.ts
Due: prettier --write, eslint --fix

Update apiClient.ts
  src/lib/apiClient.ts
Due: prettier --write, eslint --fix

fix(api): remove unused _next + wrap awaits to satisfy eslint
  backend/index.ts
  backend/routes/tiktokOAuth.routes.ts
  src/env.ts
Due: prettier --write, eslint --fix

Update env.ts
  src/env.ts
Due: prettier --write, eslint --fix

Update vite.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Update App.tsx
  src/App.tsx
Due: prettier --write, eslint --fix

Create TikTokConnectButton.tsx
  src/components/auth/TikTokConnectButton.tsx
Due: prettier --write, eslint --fix

Update Sidebar.tsx
  src/components/shared/Sidebar.tsx
Due: prettier --write, eslint --fix

Update featureFlags.ts
  src/utils/featureFlags.ts
Due: prettier --write, eslint --fix

Update tiktokOAuth.routes.ts
  backend/routes/tiktokOAuth.routes.ts
Due: prettier --write, eslint --fix

Update package.json
  backend/package.json
Due: prettier --write

Update .env.example
  backend/.env.example
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
