Repository Tahifun/BOOsT-ONE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx,js,jsx}": ["eslint --fix"]
}

Update fix-mojibake.ps1
  scripts/fix-mojibake.ps1
Due: none

Update migrate-env-system.ps1
  scripts/migrate-env-system.ps1
Due: none

Update move-backend-files.ps1
  scripts/move-backend-files.ps1
Due: none

Update remove-spotify-duplicate.ps1
  scripts/remove-spotify-duplicate.ps1
Due: none

Update Header.tsx
  src/components/media/layout/Header.tsx
Due: prettier --write, eslint --fix

Update Navigation.tsx
  src/components/media/layout/Navigation.tsx
Due: prettier --write, eslint --fix

Update DropZone.tsx
  src/components/media/upload/DropZone.tsx
Due: prettier --write, eslint --fix

Update AuthContext.tsx
  src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

Update SubscriptionContext.tsx
  src/contexts/SubscriptionContext.tsx
Due: prettier --write, eslint --fix

Update useFeature.ts
  src/hooks/useFeature.ts
Due: prettier --write, eslint --fix

Update useTheme.ts
  src/hooks/useTheme.ts
Due: prettier --write, eslint --fix

Update OverlayGalleryPage.tsx
  src/pages/OverlayGalleryPage.tsx
Due: prettier --write, eslint --fix

Update SpotifyPage.tsx
  src/pages/SpotifyPage.tsx
Due: prettier --write, eslint --fix

Update QuantumBotService.ts
  src/services/QuantumBotService.ts
Due: prettier --write, eslint --fix

Create Navigation.css
  src/styles/layout/Navigation.css
Due: none

Update mediaUtils.tsx
  src/utils/mediaUtils.tsx
Due: prettier --write, eslint --fix

Update .gitattributes
  .gitattributes
Due: none

Update docker-compose.infra.yml
  docker-compose.infra.yml
Due: prettier --write

Update project-dirs.txt
  project-dirs.txt
Due: none

Update project-tree.txt
  project-tree.txt
Due: none

Update ModerationSection.tsx
  src/components/epic/ModerationSection.tsx
Due: prettier --write, eslint --fix

Update envSchema.ts
  backend/config/envSchema.ts
Due: prettier --write, eslint --fix

Update limits.ts
  backend/config/limits.ts
Due: prettier --write, eslint --fix

Update adminController.ts
  backend/controllers/adminController.ts
Due: prettier --write, eslint --fix

Update authLoginController.ts
  backend/controllers/authLoginController.ts
Due: prettier --write, eslint --fix

Update authRegisterController.ts
  backend/controllers/authRegisterController.ts
Due: prettier --write, eslint --fix

Update botController.ts
  backend/controllers/botController.ts
Due: prettier --write, eslint --fix

Update overlayController.ts
  backend/controllers/overlayController.ts
Due: prettier --write, eslint --fix

Update overlayTemplatesController.ts
  backend/controllers/overlayTemplatesController.ts
Due: prettier --write, eslint --fix

Update statsController.ts
  backend/controllers/statsController.ts
Due: prettier --write, eslint --fix

Update subscriptionCheckoutController.ts
  backend/controllers/subscriptionCheckoutController.ts
Due: prettier --write, eslint --fix

Update subscriptionController.ts
  backend/controllers/subscriptionController.ts
Due: prettier --write, eslint --fix

Update subscriptionStatusController.ts
  backend/controllers/subscriptionStatusController.ts
Due: prettier --write, eslint --fix

Update tiktokLiveController.ts
  backend/controllers/tiktokLiveController.ts
Due: prettier --write, eslint --fix

Update clamScan.ts
  backend/middleware/clamScan.ts
Due: prettier --write, eslint --fix

Update clamScanStream.ts
  backend/middleware/clamScanStream.ts
Due: prettier --write, eslint --fix

Update errorHandler.ts
  backend/middleware/errorHandler.ts
Due: prettier --write, eslint --fix

Update rateLimitMiddleware.ts
  backend/middleware/rateLimitMiddleware.ts
Due: prettier --write, eslint --fix
